In [ ]:
#import library 
from pyspark.sql import SparkSession
from pyspark.sql.types import DoubleType
from pyspark.sql.functions import col

In [ ]:
#we need redshift jdbc jar file
jar_path = 'redshift-jdbc42-2.0.0.4.jar'

In [ ]:
#create spark session object
spark = SparkSession \
    .builder \
    .appName("integration_pyspark_redshift") \
    .config("spark.jars", jar_path)\
    .config('spark.driver.extraClassPath', jar_path) \
    .getOrCreate()

In [ ]:
#provide aws credentials
spark._jsc.hadoopConfiguration().set("fs.s3.awsAccessKeyId", "AKIASCVPXXOPUD2DQ3QU")
spark._jsc.hadoopConfiguration().set("fs.s3.awsSecretAccessKey", "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")

In [ ]:
# create spark datafrme from csv file
AirlineDF = spark.read.option("header", "true").csv("airlines1.csv")

In [ ]:
AirlineDF.show()

In [ ]:
#create new dataframe and select some columns
AirlineDF1 = AirlineDF.select("Year","Reporting_Airline")

In [ ]:
AirlineDF1.show()

# write dataframe into redshift

In [ ]:
AirlineDF1.write \
  .format("jdbc") \
  .option("url","jdbc:redshift://redshift-cluster-1.cem25ev4t3ap.us-east-1.redshift.amazonaws.com:5439/dev?user=datastunt&password=Datastunt123" ) \
  .option("Tempdir", "s3://airlines123/airline/") \
  .option("dbtable", "airline") \
  .mode("error") \
  .save()

# read data from redshift

In [ ]:
df = spark.read.format("jdbc") \
  .option("url","jdbc:redshift://redshift-cluster-1.cem25ev4t3ap.us-east-1.redshift.amazonaws.com:5439/dev?user=datastunt&password=Datastunt123" ) \
  .option("Tempdir", "s3://airlines123/airline/") \
  .option("dbtable", "airline") \
  .load()

In [ ]:
df.show()

# Read data from a query

In [ ]:

df1 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:redshift://redshift-cluster-1.cem25ev4t3ap.us-east-1.redshift.amazonaws.com:5439/dev?user=datastunt&password=Datastunt123") \
    .option("query", "select count(*) from airline") \
    .option("tempdir", "s3://airlines123/airline/") \
    .load()

In [ ]:
df1.show()